body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(29, 29, 29);
    background-color: rgb(234, 164, 255);
}

.name {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 2s;
    transition: transform 1s, font-size 1s;
}
  
.grid-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 80%;
    margin-top: 2%;
    display: grid;
    grid-template-areas:
        "spotify youtube youtube"
        "instagram instagram twitter";

    grid-template-rows: 60% auto;
    gap: 10px 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

#Spotify {
    grid-area: spotify;
    background: linear-gradient(to right, rgb(156, 104, 253, 1), rgb(197, 169, 248, 0.5)), url('../images/spotify.png');
}

#Youtube {
    grid-area: youtube;
    background: linear-gradient(to right, rgb(156, 104, 253, 1), rgb(197, 169, 248, 0.5)), url('../images/youtube.png');
}

#Instagram {
    grid-area: instagram;
    background: linear-gradient(to right, rgb(156, 104, 253, 1), rgb(197, 169, 248, 0.5)), url('../images/instagram.png');
}

#Twitter {
    grid-area: twitter;
    background: linear-gradient(to right, rgb(156, 104, 253, 1), rgb(197, 169, 248, 0.5)), url('../images/twitter.png');
}

#Spotify, #Youtube, #Instagram, #Twitter {
    display: flex;
    border-radius: 8px;
    transition: transform 0.5s;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#Spotify:hover, #Youtube:hover, #Instagram:hover, #Twitter:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.info {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    z-index: 9999;
    transition: transform 0.4s ease-in-out;
    justify-content: center;
    background: linear-gradient(to left, rgb(79, 76, 255), rgb(130, 168, 248));
}

.track-list {
    height: 95%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.track-list::-webkit-scrollbar {
    width: 0px;
    height: auto;
}
  
.track-item {
    display: grid;
    grid-template-areas:
        "track-name preview-button"
        "artist-name preview-button";
    grid-template-columns: 90% 10%;
    grid-template-rows: 50% 50%;
    background-color: rgb(93, 91, 226);
    border-radius: 8px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 0px 0px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
}

.track-name {
    font-weight: bold;
    grid-area: track-name;
}

.preview-button {
    background-color: #1db954;
    border: none;
    border-radius: 50px;
    aspect-ratio: 1/1;
    width: 50%;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    grid-area: preview-button;
}

.preview-button:hover {
    background-color: #1ed760;
}

.artist-name {
    grid-area: artist-name;
}

.youtube-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    color: white;
}

.youtube-content iframe {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    aspect-ratio: 16/9;
    width: 90%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}